main {
    position: static;
    z-index: auto;
    transform: none;
    filter: none;
    perspective: none;
    will-change: auto;
    contain: none;
    isolation: auto;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 50px;
}